* {
    font-family: 'Segoe UI', 'Roboto Slab', 'Helvetica Neue', Arial, sans-serif;
}

.image-container {
width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
border: 4px solid darkblue;
padding: 8px lightblue;
box-sizing: border-box;
background-color: lightblue;
}

header {
    background-color: rgb(148, 215, 254);
    border: solid 4px darkblue;
    border-radius: 20px;
    font-family: 'Segoe UI', 'Roboto Slab', 'Helvetica Neue', Arial, sans-serif;
}

.name-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}

h1 {margin-bottom: -10px;}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .header-links li {
    margin-right: 10%;
} */

.header-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    align-items: center;
}

header nav ul li {
   white-space: nowrap;
   display: flex;
  /* position: relative;
   left: -500px;
   bottom: 50px; */
   margin: 50px 50px;
   text-align: center;
}

.about-me-section {
    display: flex;
}

.about-me-left {
    background-color: rgb(148, 215, 254);
    border: solid 4px darkblue;
    border-radius: 20px;
    font-size: 30px;
    padding: 50px;
    margin: 20px 20px 0px 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.about-me-right {
    background-color: rgb(148, 215, 254);
    border: solid 4px darkblue;
    border-radius: 20px;
    font-size: 20px;
    padding: 50px;
    margin: 20px 0px 0px 0px;
    display: inline-block;
    width: calc(100% - 380px);
}

.projects-section {
    display: flex;
}

.projects-left {
    background-color: rgb(148, 215, 254);
    border: solid 4px darkblue;
    border-radius: 20px;
    font-size: 30px;
    padding: 50px;
    margin: 20px 20px 0px 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.projects-right {
    background-color: rgb(148, 215, 254);
    border: solid 4px darkblue;
    border-radius: 20px;
    font-size: 20px;
    padding: 50px;
    margin: 20px 0px 0px 0px;
    display: inline-flex;
    width: calc(100% - 380px);
}

.horiseon {
    height: 200px;
    width: auto;
    border: solid 4px darkblue;
    border-radius: 20px;
}

.horiseon-description {
    margin-left: 20px;
}

footer {
    background-color: rgb(148, 215, 254);
    border: solid 4px darkblue;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Segoe UI', 'Roboto Slab', 'Helvetica Neue', Arial, sans-serif;
}

footer div {
    margin: 20px 20px 20px 20px;
}

footer img {
    height: 20px;
    width: auto;
}

.footer-img-wrapper {
    text-align: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 680px) {
    header nav ul {
        flex-direction: column;
    }
    .projects-right {
        flex-direction: column;
    }
}